$main-color: #009999;

body {
  background-color: $main-color;
  color: #FFFFFF;
  
}
p {
  font-size: 20px;
}
.clock {
  font-size: 25px;
}

.jumbotron {
	background-color: #FFFFFF;
	color: $main-color;
	text-align:center;
}