<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--Bootstrap-->
	<link rel="stylesheet" href="vendors/css/bootstrap.min.css">
	<!--stylesheet-->

</head>

<body ng-app="schedulerApp">
	<div class="container">
	<div ng-controller="SchedulerController as scheduler">
		<div class="row text-center">
			<h1>My Wonderful Planner</h1>
		</div>

		<div class="row">
				<h3>Hello! I hope yesterday was a good day. Tell me how today looks like.</h3>
			
				<form name="addTaskForm" ng-submit="scheduler.addNewTask()">
				<fieldset>
					<label for="task">Task:</label>
					<input type="text" id="task" placeholder="Enter task here" ng-model="scheduler.user.task">
					<label for="time">Time:</label>
					<input class="newTime" ng-model="scheduler.user.displayTime">
					<label for ="duration">How Long?</label>
					<input type="text" id="duration" placeholder="Enter time in minutes" ng-model="scheduler.user.duration">
					<input type="submit" value="Submit Task">
				</fieldset>
				</form>
			

		<div class="row">
			<table class="table table-bordered">
				<thead class="text-center">
					<tr>
						<th>Time</th>
						<th>Duration</th>
						<th>Task</th>
						<th>Done?</th>
				</thead>
				<tbody>
				<tr ng-repeat="plan in scheduler.plans | orderBy:'standardTime'">
					<td class="plan-time">{{plan.displayTime}}</td>
					<td class="plan-duration">{{plan.duration}} minutes</td>
					<td class="plan-task">{{plan.task}}</td>
					<td><button  ng-class="{'btn-primary': !scheduler.clicked, 'btn-success': scheduler.clicked}" ng-click="scheduler.ping()">Yes</button></td>
				</tr>
			</tbody>
			</table>
			</div>
		</div>

			<!--angular-->
	<script src="vendors/js/angular.min.js"></script>
	<script src="js/app.js"></script>
</html>